{% extends "main-style.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Hero for landing page -->
<!-- 1st Section -->
<section class="tx-container">
    <div class="md-grid md-typeset">
        <div class="tx-hero">
            <!-- Hero image -->
            <div class="tx-hero__image">
                <img src="img/illustration.png" width="600" draggable="false">
            </div>
            <!-- Hero content -->
            <div class="tx-hero__content">
                <h1 id="leverage-architecture">Together.  We Are The Bank.</h1>
                <p><strong>“Coming together</strong> is the beginning.  <strong>Staying together</strong> is progress.  <strong>Working together</strong> is success.<strong>”</strong>
                </p>
                <br>
                <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}" class="md-button md-button--primary">Learn More</a>
                <a href="{{ 'developers/' | url }}" title="For Developers" class="md-button">
            For Developers
          </a>
                <br>
            </div>
        </div>
    </div>
</section>
{% endblock %}
