{% extends "base.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Additional styles for landing page -->
<style>

    body {
        background-color: white;
        width: 100vw;
        height: 100vh;
   
    }

    .md-typeset .md-button {
        font-size: 14px;
    }

    .md-typeset img, .md-typeset svg {
        height: auto;
        max-width: 100%;
        margin-left: 14px;
    }

    .md-tabs {
        overflow: hidden;
    }

    .md-ellipsis {
    	margin-left: -14px;
    }

    .md-header {
        position: initial
    }

    .md-main__inner {
        margin: 0
    }

    .md-footer {
        display: none
    }

    .md-content {
        display: none
    }

    /*
     Table of content font color
    */
    a.md-nav__link {
        color: #448aff;
        text-decoration: none;
    }

    .tx-container {
        height: 100%;
        padding-top: 2rem;
        padding-left: 1.5rem;
        background: url("data:image/svg+xml;utf8,<svg xmlns='https://www.w3.org/2000/svg' viewBox='0 0 1123 258'><path d='M1124,2c0,0 0,256 0,256l-1125,0l0,-48c0,0 16,5 55,5c116,0 197,-92 325,-92c121,0 114,46 254,46c140,0 214,-167 572,-166Z' style='fill: white' /></svg>") no-repeat bottom, linear-gradient(to bottom, var(--md-primary-fg-color), #0275d8 100%, #fff 99%)
    }

    .tx-hero {
        color: var(--md-primary-bg-color);
    }

    .tx-hero h1 {
        margin-bottom: 0rem;
        color: currentColor;
        font-weight: 700
    }

    .tx-hero__content {
        padding-bottom: 4rem;
        justify-content: left;
        margin-right: 16px;
    }

    .tx-hero__content_small {
        justify-content: left;
        padding-right: 3rem;
    }

    .tx-hero__image {
        max-width: 100%;
        max-height: 100%;
        order: 1;
        padding-right: 2.5rem;
    }

    .tx-hero .md-button {
        margin-top: .5rem;
        margin-right: .5rem;
        color: var(--md-primary-bg-color)
    }

    .tx-hero .md-button--primary {
        background-color: var(--md-primary-bg-color);
        color: hsla(280deg, 37%, 48%, 1);
        border-color: var(--md-primary-bg-color)
    }

    .tx-hero .md-button:focus,
    .tx-hero .md-button:hover {
        background-color: var(--md-accent-fg-color);
        color: var(--md-default-bg-color);
        border-color: var(--md-accent-fg-color)
    }

    .tx-footer {
        margin: 0px 0rem;
        background-color: white;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tx-hero__content-footer {
        justify-content: left;
        color: #2a978d;
        font-weight: 300;
        padding: 0 0px;
        word-break: break-word;
        float: left;
    }

    .tx-footer p {
        font-size: 12px;
        line-height: 1.8em;
        text-rendering: optimizeLegibility;
        color: black;
        display: block;
        font-family: inherit;
    }

    /**/
    /*Adjusting Mobile UI */
    /**/
    @media screen and (max-width: 30em) {
        .tx-hero h1 {
            font-size: 1.4rem
        } 


        .md-typeset .md-button {
            font-size: 14px;
        }
    }

    @media screen and (min-width: 60em) {
        .md-sidebar--secondary {
            display: none
        }

        .tx-hero {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .tx-hero__content {
            max-width: 24rem;
            margin-top: 3.5rem;
            margin-bottom: 3.5rem;
            margin-left: 1.0rem;
            margin-right: 4.0rem;
            align-items: center;
        }
    }

    @media screen and (min-width: 76.25em) {
        .md-sidebar--primary {
            display: none
        }

        .top-hr {
            width: 100%;
            display: flex;
            max-width: 61rem;
            margin-right: auto;
            margin-left: auto;
            padding: 0 .2rem;
        }

        .bottom-hr {
            margin-top: 10px;
            width: 100%;
            display: flex;
            max-width: 61rem;
            margin-right: auto;
            margin-left: auto;
            padding: 0 .2rem;
        }
    }

    .text-center {
        text-align: center;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
        font-size: 23px;
        font-weight: 300;
        padding-bottom: 10px;
    }
</style>
{% endblock %}

